<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<session-config>
		<cookie-config>
			<http-only>true</http-only>
			<secure>true</secure>
		</cookie-config>
	</session-config>
	<welcome-file-list>
	<welcome-file>home</welcome-file></welcome-file-list>
	<display-name></display-name>
	<servlet>
		<servlet-name>CustomerloginPage</servlet-name>
		<jsp-file>/customer/index.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerloginPage</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CustomerDashBoard</servlet-name>
		<jsp-file>/customer/customerdashboard.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>account</servlet-name>
		<jsp-file>/customer/Accounts.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>account</servlet-name>
		<url-pattern>/account</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerDashBoard</servlet-name>
		<url-pattern>/customer-dashboard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>transactionstatement</servlet-name>
		<jsp-file>/customer/transactionstatement.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>transactionstatement</servlet-name>
		<url-pattern>/transaction</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>paybeneficiary</servlet-name>
	<jsp-file>/customer/paybeneficiary.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	<servlet-name>paybeneficiary</servlet-name>
	<url-pattern>/paybeneficiary</url-pattern></servlet-mapping>
	<servlet>
		<servlet-name>transfer</servlet-name>
		<jsp-file>/customer/transfer.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>transfer</servlet-name>
		<url-pattern>/transfer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>beneficiary</servlet-name>
		<jsp-file>/customer/beneficiary.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>beneficiary</servlet-name>
		<url-pattern>/beneficiary</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addbeneficiary</servlet-name>
		<jsp-file>/customer/addbeneficiary.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>addbeneficiary</servlet-name>
		<url-pattern>/add-beneficiary</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>profile</servlet-name>
		<jsp-file>/customer/profile.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>profile</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>loan</servlet-name>
		<jsp-file>/customer/loan.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>loan</servlet-name>
		<url-pattern>/loan</url-pattern>
	</servlet-mapping>	
	<servlet>
	<servlet-name>repayment</servlet-name>
	<jsp-file>/customer/repayment.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	<servlet-name>repayment</servlet-name>
	<url-pattern>/repayment</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>accountview</servlet-name>
	<jsp-file>/customer/accountview.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	<servlet-name>accountview</servlet-name>
	<url-pattern>/accountview</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>invest</servlet-name>
	<jsp-file>/customer/invest.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	<servlet-name>invest</servlet-name>
	<url-pattern>/invest</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>Pay</servlet-name>
	<jsp-file>/customer/pay.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	<servlet-name>Pay</servlet-name>
	<url-pattern>/pay</url-pattern>	</servlet-mapping>
	 	<servlet>
	<servlet-name>openrecurringdeposit</servlet-name>
	<jsp-file>/customer/openrecurringdeposit.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	<servlet-name>openrecurringdeposit</servlet-name>
	<url-pattern>/openrecurringdeposit</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>CustomerAuthentication</filter-name>
		<filter-class>com.bank.customerfilter.CustomerAuthenticationFilter</filter-class>
	</filter>
	<filter>
	<filter-name>AccountAuthentication</filter-name>
	<filter-class>com.bank.customerfilter.AccountAuthenticationFilter</filter-class>
	</filter>
	<!-- <filter-mapping>
		<filter-name>AccountAuthentication</filter-name>
		<servlet-name>account</servlet-name>
		<servlet-name>transactionstatement</servlet-name>
	</filter-mapping>-->
	<filter-mapping>
		<filter-name>CustomerAuthentication</filter-name>
		<url-pattern>/add-beneficiary</url-pattern>
		<url-pattern>/transfer</url-pattern>
		<url-pattern>/profile</url-pattern>
		<url-pattern>/transaction</url-pattern>
		<url-pattern>/repayment</url-pattern>
		<url-pattern>/beneficiary</url-pattern>
		<url-pattern>/customer-dashboard</url-pattern>
		<url-pattern>/logout</url-pattern>
		<url-pattern>/loan</url-pattern>
	</filter-mapping>
	<resource-ref>
		<description>datasource</description>
		<res-ref-name>jdbc/Bank</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
<!-- 	  <listener>
    <listener-class>
            com.bank.Routine
    </listener-class>
  </listener> -->
</web-app>